body {
    font-family: Arial, Helvetica, sans-serif;
}

.txt-wht {
    color: #fff;
}

.jumbo-image-1 {
    margin-top: 107px;
    background: url(../img/jumbo-bg.png) 50% 40%;
    padding: 250px 0 100px 0;
}

.bg-black {
    background-color: #000;
}

.logo-sony img {
    height: 15px;
}

.btn {
    border-radius: 20px;
    color: #fff;
}

.btn-buy {
    background-color: #CD3D0F;
} 

.btn-login {
    background-color: #363636;
}
